<!DOCTYPE html>
<html>
    <head>
        <title>EJS 예제</title>
        <script type="text/javascript" src="./js/rsp.js"></script>
    </head>
    <body>
        <p>EJS 페이지 &#x2764;</p>
        <p><%= name %></p>
    </body>
</html>